// import official less entry file
//@import "~antd/dist/antd.less";
// override variables here
@layout-body-background: white;
@primary-color: #00C1DE;

html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.app {
  /*text-align: center;*/
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;

  //.logo {
  //  height: 40px;
  //  width: 120px;
  //  margin-top: 12px;
  //  background: #333;
  //  border-radius: 6px;
  //  float: left;
  //}
  //
  //.layout {
  //  height: 100%;
  //}

  .app-header {
    background-color: black;
    padding: 16px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
  }

  .app-content {
    flex: 1 1 auto;
    overflow-y: scroll;
    background-color: @layout-body-background;
  }

  .app-logo {
    height: 48px;
    width: 48px;
    margin-right: 16px;
  }

  .app-menu {
    flex: 1 1 auto;
    margin: 0 !important;
    align-self: center;
  }

  .app-search {
    align-self: center;
  }
}

.results {
  width: 600px !important;
  height: 600px;
  overflow-y: scroll;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.switch-wrapper {
  position: relative;
}


.switch-wrapper > div {
  position: absolute;
}
