.story {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4px;
  align-self: center;
}

.footer {
  display: flex;
  flex-direction: row;
  font-size: 90%
}

.score {
  background-color: white;
  align-self: center;
  padding: 16px;
  font-size: 125%;
  font-weight: bold;
  color: orange;
  width: 60px;
  max-width: 60px;
  text-align: center;
}

.comment {
  margin-left: 4px;
}

.title {
  font-size: 125%;
  margin-bottom: 5px;
  color: black;
}